body{
    background-color: rgb(255, 238, 206);
}

button{
    height: 30px;
    width: 100px;
}
input{
    height: 30px;
  
}
select{
    height: 30px;
    width: 30vw;
}
p{
    font-size: 10px;
    
}
p:hover{
    color: red;
}

iframe{
    width: 50vw;
    left: 0vw;
    height: 80vh;
}

.editor{
    float: right;
    width:  50vw !important;
    height: 70vh !important;

}
