body{
    background-color: rgb(255, 238, 206);
}

button{
    height: 30px;
    width: 100px;
}
input{
    height: 30px;
  
}
select{
    height: 30px;
    width: 30vw;
}
#ambiente{
    height: 30px;
    width: 15vw;
}
p{
    font-size: 10px;
    
}
p:hover{
    color: red;
}

iframe{
    width: 50vw;
    left: 0vw;
    position: absolute;
    height: 80vh;
}

#dados_do_processo{
    width:  48vw;
    position: absolute;
    left: 51vw;
    height: 70vh;
    background-color: white;
}
